.lista-opciones{

    padding: 0px 10px 0px;

}

.lista-opciones label{

display: block;
font-size: 20px;
margin-bottom: 8px;
padding: 10px 10px 0;

}
.lista-opciones select{

    background-color: #CADC9F;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-radius: 15px;
    font-size: 20px;
    border-color: #514689;
    width: 85%;
    height: 30px;
    outline-color: #c004c0;
    color: #0F380F;
    
    

}