.footer{

    background-color:  #5300C8;
    width: Fill (1,440px)px;
    height: Hug (96px)px;
    padding: 20px 0px 20px 0px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
    }
.footer img{

width: 45%;

}
.firma{

color: antiquewhite;
display: flex;
flex-flow: column;
justify-content: space-evenly;
align-items: center;


}
    